.Portfolio__Text{
    text-align: left;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    margin: 0;
    color: #000;
}
@media screen and (max-width: 768px) {
    .Portfolio__Text {
       font-size: 28px;
     }
   }
  @media screen and (max-width: 525px) {
   .Portfolio__Text {
      font-size: 18px;
      line-height: 28px;
    }
  }