.AboutMe__Link{
    text-align: left;
    color: #000;
    text-decoration-line: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-right: 20px;
  }
 
  @media screen and (max-width: 320px) {
    .AboutMe__Link{
      margin-right: 26px;
    }
  }