.Footer__Title{
  width: 100%;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  padding: 0 0 20px;
  margin: 0;
  color: #A0A0A0;
  border-bottom: 1px solid #E8E8E8;
}
  
  @media screen and (max-width: 320px) {
    .Footer__Title { 
      font-size: 12px;
      line-height: 15px;
      padding-bottom: 21px;
    }
  }
  