.AboutMe__Title{
  text-align: left;
  width: 100%;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0 auto 18px;
}
@media screen and (max-width: 768px) {
  .AboutMe__Title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 320px) {
  .AboutMe__Title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
  }
}