.TechsTable{
    display: grid;
    grid-template-columns: repeat(7, 90px);
    grid-template-rows: 60px;
    gap: 10px;
  }
   
  @media screen and (max-width: 830px) {
    .TechsTable{
        grid-template-columns: repeat(7, 84px);
        grid-template-rows: 57px;
    }
  }

  @media screen and (max-width: 748px) {
    .TechsTable{
        grid-template-columns: repeat(4, 84px);
        grid-template-rows: repeat(2, 57px);
    }
  }
  
  @media screen and (max-width: 466px) {
    .TechsTable{
        grid-template-columns: repeat(3, 84px);
        grid-template-rows: repeat(3, 57px);
    }
  }
   
  @media screen and (max-width: 372px) {
    .TechsTable{
        grid-template-columns: repeat(2, 84px);
        grid-template-rows: repeat(4, 57px);
    }
  }