.Button_Action_Back{
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #3456F3;
  background-color: #FAFAFA;
}
@media screen and (max-width: 320px) {
  .Button_Action_Back{
    font-size: 12px;
    line-height: 15px;
  }  
}