.Button_Action_Close{
  position: absolute;
  width: 32px;
  height: 32px;
  top: 38px;
  right: 38px;
  background-color: #FFF;
  border: none;
  background-image: url(../../../images/close.svg);
  background-size: cover;
}
@media screen and (max-width: 320px) {
  .Button_Action_Close{
    top: 13px;
    right: 13px;
  }
}
.Button_Action_Close:hover{
  opacity: 0.6;
}