.Button_Action_Search{
  width: 100px;
  height: 52px;
  border: none;
  background-color: #3456F3;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}
  @media screen and (max-width: 425px) {
    .Button_Action_Search{
      width: 80px;
      height: 44px;
    }
  }
  
  .Button_Action_Search:hover{
    opacity: 0.6;
  }