.Profile__Signout-link{
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    background-color: #FFF;
    color:  #EE3465;
    text-decoration-line: none;
}
@media screen and (max-width: 320px) {
    .Profile__Signout-link{
      height: 12px;
      font-size: 15px;
    }
  }