.Header__Signin{
  display: flex;
  width: 76px;
  height: 32px;
  border: none;
  background-color: #3456F3;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 320px) {
  .Header__Signin {
    width: 54px;
    height: 26px;
  }
}
    