.Portfolio__Link{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 0 20px;
    padding-bottom: 19px;
    border-bottom: 1px solid #E6E6E6;
    text-decoration-line: none; 
  }
  
  .Portfolio__Link:last-of-type {
    margin: 0;
    padding: 0;
    border: none;
}