.Promo__Signup-link{
    margin-right: 30px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    text-decoration-line: none;
  }
  @media screen and (max-width: 320px) {
    .Promo__Signup-link {
      margin-right: 14px;
      font-size: 10px;
    }
  }

  .Promo__Signup-link:hover{
    opacity: 0.7;
  } 