.AboutMe{
  width: calc(100% - 2*70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 70px 125px; 
  background-color: #FAFAFA; 
}
@media screen and (max-width: 768px) {
  .AboutMe {
    width: calc(100% - 2*50px);
    padding: 90px 50px; 
  }
}
  
@media screen and (max-width: 320px) {
  .AboutMe {
    width: calc(100% - 2*14px);
    padding: 70px 14px; 
  }
}